on:
  push:
    branches:
      - master
    # paths: ["src/components/**"]

name: Publish stories if changed

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Build Storybook
        run: |
          yarn install
          yarn run build-storybook
      - name: Build and deploy to storybook-static branch
        uses: JamesIves/github-pages-deploy-action@3.4.8
        with:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: storybook-static
          FOLDER: storybook-static
